__pycache__
build
dist
/bitmask-vpn
cmd/bitmask-vpn/bitmask-vpn
/bitmask-helper
cmd/bitmask-helper/bitmask-helper
/bitmask-connect
cmd/bitmask-connect/bitmask-connect

locales/*/out.gotext.json
tools/transifex/transifex

branding/assets/default

.*.swp
*.exe
