__pycache__
.mypy_cache  
build
dist
deploy
/bitmask-vpn
cmd/bitmask-vpn/bitmask-vpn
/bitmask-helper
cmd/bitmask-helper/bitmask-helper
/bitmask-connect
cmd/bitmask-connect/bitmask-connect
gui/i18n/*.qm
/snap

locales/*/out.gotext.json
tools/transifex/transifex

branding/assets/default
lib/*
qtbuild/*

.*.swp
*.exe
