<?xml version="1.0" encoding="UTF-8"?>
<Installer>
	<Name>DemoLibVPN-0.0.1</Name>
	<Version>0.0.1</Version>
	<Title>DemoLibVPN Installer</Title>
	<Publisher>LEAP Encryption Access Project</Publisher>
	<TargetDir>@ApplicationsDir@/DemoLibVPN</TargetDir>
	<RunProgram>@TargetDir@/demolib-vpn.exe</RunProgram>
	<RunProgramArguments>
	</RunProgramArguments>
        <StartMenuDir>DemoLibVPN</StartMenuDir>
        <MaintenanceToolName>Uninstall-DemoLibVPN</MaintenanceToolName>
        <AllowNonAsciiCharacters>false</AllowNonAsciiCharacters>
</Installer>
